{
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-typescript"],
        ["@babel/preset-env", { "targets": { "node": "current" } }]
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-typescript"],
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        "minify"
      ]
    }
  }
}
